In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import KNeighborsRegressor

In [2]:
df = pd.read_csv("실기 Python 실습파일 (2)/iris.csv")
df.head(2)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [3]:
df["is_setosa"] = (df["Species"] == "setosa") +0
df.head(2)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species  is_setosa
0           5.1          3.5           1.4          0.2  setosa          1
1           4.9          3.0           1.4          0.2  setosa          1

In [4]:
model_c = KNeighborsClassifier(n_neighbors=3)
model_c.fit(X = df.iloc[:,:4],
            y = df["is_setosa"])
model_c

KNeighborsClassifier(n_neighbors=3)

In [5]:
model_c.predict(df.iloc[:,:4])[:5]

array([1, 1, 1, 1, 1])

In [6]:
from sklearn.metrics import accuracy_score

In [7]:
accuracy_score(y_true = df["is_setosa"],
               y_pred= model_c.predict(df.iloc[:,:4]))

1.0

In [8]:
model_r = KNeighborsRegressor(n_neighbors=3)
model_r.fit(X = df.iloc[:,:3],
            y = df["Petal.Width"])
model_r

KNeighborsRegressor(n_neighbors=3)

In [9]:
pred_r = model_r.predict(df.iloc[:,:3])
pred_r[:5]

array([0.26666667, 0.2       , 0.23333333, 0.2       , 0.16666667])

In [10]:
from sklearn.metrics import mean_squared_error as mse

In [11]:
mse(y_true = df["Petal.Width"],
    y_pred= pred_r)

0.018651851851851857

In [12]:
mse(y_true = df["Petal.Width"],
    y_pred= pred_r)**0.5

0.13657178278052848

# 문제

Q1.

In [13]:
df = pd.read_csv("실기 Python 실습파일 (2)/diabetes.csv")
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [14]:
from sklearn.model_selection import train_test_split
df_train, df_test = train_test_split(df, train_size= 0.7, random_state=123)

In [18]:
model = KNeighborsClassifier()
model.fit(X = df_train.loc[:,["Pregnancies","BloodPressure", "Glucose"]],
            y = df_train["Outcome"])
pred = model.predict(df_test.loc[:,["Pregnancies","BloodPressure", "Glucose"]])
pred[:5]

array([1, 0, 0, 0, 0], dtype=int64)

In [19]:
from sklearn.metrics import accuracy_score

In [20]:
accuracy_score(y_pred = pred,
               y_true= df_test["Outcome"])

0.7272727272727273

Q2.

In [21]:
df = pd.read_csv("실기 Python 실습파일 (2)/diabetes.csv")
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [22]:
df["is_preg"] = (df["Pregnancies"]>0)+0
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,is_preg
0,6,148,72,35,0,33.6,0.627,50,1,1
1,1,85,66,29,0,26.6,0.351,31,0,1

In [23]:
df_train, df_test = train_test_split(df, train_size= 0.8, random_state=123)

In [24]:
X_cols = ["is_preg", "BloodPressure", "Glucose", "Insulin","BMI"]

neighbors = [3,5,10,20]
accs = []
for n_n in neighbors:
    model=KNeighborsClassifier(n_neighbors=n_n)
    model.fit(X = df_train.loc[:,X_cols], y= df_train["Outcome"])
    pred = model.predict(df_test.loc[:,X_cols])
    acc_sub = accuracy_score(y_pred=pred, y_true = df_test["Outcome"])
    accs = accs + [acc_sub]
    
df_score = pd.DataFrame({"neighbors": neighbors, "accs":accs})
df_score["accs"] = df_score["accs"].round(2)
df_score

   neighbors  accs
0          3  0.71
1          5  0.73
2         10  0.78
3         20  0.76

Q3.

In [25]:
df = pd.read_csv("실기 Python 실습파일 (2)/diabetes.csv")
df["is_preg"] = (df["Pregnancies"]>0)+0
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,is_preg
0,6,148,72,35,0,33.6,0.627,50,1,1
1,1,85,66,29,0,26.6,0.351,31,0,1

In [26]:
df_train, df_test = train_test_split(df, train_size= 0.8, random_state=123)

In [27]:
from sklearn.metrics import mean_squared_error

In [28]:
X_cols = ["is_preg", "BloodPressure", "Glucose", "Insulin"]

neighbors = [3,5,10,20]
rmses = []
for n_n in neighbors:
    model=KNeighborsRegressor(n_neighbors=n_n)
    model.fit(X = df_train.loc[:,X_cols], y= df_train["BMI"])
    pred = model.predict(df_test.loc[:,X_cols])
    rmse_sub = mean_squared_error(y_pred=pred, y_true = df_test["BMI"])**0.5
    rmses = rmses + [rmse_sub]
    
df_score = pd.DataFrame({"neighbors": neighbors, "rmses":rmses})
df_score["rmses"] = df_score["rmses"].round(3)
df_score

   neighbors  rmses
0          3  8.508
1          5  8.706
2         10  8.517
3         20  8.514