In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor

In [2]:
df = pd.read_csv("실기 Python 실습파일 (2)/iris.csv")
df.head(2)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [3]:
df["is_setosa"] = (df["Species"] == "setosa") +0
df.head(2)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species  is_setosa
0           5.1          3.5           1.4          0.2  setosa          1
1           4.9          3.0           1.4          0.2  setosa          1

In [5]:
model_c = DecisionTreeClassifier(random_state =123)
model_c.fit(X = df.iloc[:,:4],
            y = df["is_setosa"])
model_c

DecisionTreeClassifier(random_state=123)

In [7]:
pred_c = model_c.predict(df.iloc[:,:4])
pred_c[:4]

array([1, 1, 1, 1])

In [9]:
model_r = DecisionTreeRegressor(random_state= 123)
model_r.fit(X = df.iloc[:,:3],
            y = df["Petal.Width"])
pred_r = model_r.predict(df.iloc[:,:3])
pred_r[:4]

array([0.25, 0.2 , 0.2 , 0.2 ])

# 문제

Q1.

In [10]:
df = pd.read_csv("실기 Python 실습파일 (2)/diabetes.csv")
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [13]:
from sklearn.model_selection import train_test_split
df_train, df_test = train_test_split(df, train_size= 0.8, random_state=123)

In [14]:
model = DecisionTreeClassifier(random_state=123)
model.fit(X = df_train.loc[:,["Pregnancies","BloodPressure", "Glucose"]],
            y = df_train["Outcome"])
pred = model.predict(df_test.loc[:,["Pregnancies","BloodPressure", "Glucose"]])
pred[:4]

array([1, 0, 1, 0], dtype=int64)

In [15]:
from sklearn.metrics import accuracy_score

In [16]:
accuracy_score(y_pred = pred,
               y_true= df_test["Outcome"])

0.6298701298701299

Q2.

In [17]:
df = pd.read_csv("실기 Python 실습파일 (2)/diabetes.csv")
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [18]:
df_train, df_test = train_test_split(df, train_size= 0.8, random_state=123)

In [25]:
model = DecisionTreeRegressor(random_state=123)
model.fit(X = df_train.loc[:,["SkinThickness","BloodPressure", "Glucose"]],
            y = df_train["BMI"])
pred = model.predict(df_test.loc[:,["SkinThickness","BloodPressure", "Glucose"]])
pred[:4]

array([30.8, 28.6, 33.8, 32.2])

In [26]:
from sklearn.metrics import mean_squared_error

In [27]:
mean_squared_error(y_pred = pred,
                   y_true= df_test["BMI"])**0.5

9.924605211306321

Q3.

In [32]:
df = pd.read_csv("실기 Python 실습파일 (2)/diabetes.csv")
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [33]:
df_train, df_test = train_test_split(df, train_size= 0.7, random_state=345)

In [34]:
cols = ["Pregnancies", "BloodPressure", "Glucose", "BMI","Age"]

depth_list = [3,4,5,6]
accs = []
for depth in depth_list:
    model=DecisionTreeClassifier(max_depth=depth, random_state=345)
    model.fit(X = df_train.loc[:,cols], 
              y= df_train["Outcome"])
    pred = model.predict(df_test.loc[:,cols])
    accs = accs + [accuracy_score(y_pred = pred,
               y_true= df_test["Outcome"])]
    

df_score = pd.DataFrame({"depth": depth_list, 
                         "accs":accs})
df_score["accs"] = df_score["accs"].round(2)
df_score

   depth  accs
0      3  0.77
1      4  0.76
2      5  0.76
3      6  0.77