In [1]:
import pandas as pd

In [3]:
dia = pd.read_csv("실기 Python 실습파일 (2)/diamonds.csv")
dia.head(2)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31

In [5]:
pd.crosstab(dia["cut"], dia["clarity"], normalize= True)

clarity,I1,IF,SI1,SI2,VS1,VS2,VVS1,VVS2
cut,,,,,,,,
Fair,0.003893,0.000167,0.007564,0.008639,0.003152,0.004839,0.000315,0.001279
Good,0.001780,0.001316,0.028921,0.020041,0.012013,0.018131,0.003448,0.005302
Ideal,0.002707,0.022469,0.079385,0.048165,0.066537,0.094012,0.037950,0.048313
Premium,0.003801,0.004264,0.066277,0.054672,0.036874,0.062236,0.011420,0.016129
Very Good,0.001557,0.004968,0.060067,0.038932,0.032907,0.048035,0.014627,0.022896

In [6]:
pd.crosstab(dia["cut"], dia["clarity"], normalize= True).round(2)

clarity     I1    IF   SI1   SI2   VS1   VS2  VVS1  VVS2
cut
Fair       0.0  0.00  0.01  0.01  0.00  0.00  0.00  0.00
Good       0.0  0.00  0.03  0.02  0.01  0.02  0.00  0.01
Ideal      0.0  0.02  0.08  0.05  0.07  0.09  0.04  0.05
Premium    0.0  0.00  0.07  0.05  0.04  0.06  0.01  0.02
Very Good  0.0  0.00  0.06  0.04  0.03  0.05  0.01  0.02

In [7]:
#row 기준 
pd.crosstab(dia["cut"], dia["clarity"], normalize= 0)

clarity,I1,IF,SI1,SI2,VS1,VS2,VVS1,VVS2
cut,,,,,,,,
Fair,0.130435,0.005590,0.253416,0.289441,0.105590,0.162112,0.010559,0.042857
Good,0.019568,0.014472,0.317978,0.220342,0.132083,0.199348,0.037913,0.058296
Ideal,0.006775,0.056239,0.198691,0.120551,0.166535,0.235302,0.094984,0.120922
Premium,0.014865,0.016678,0.259227,0.213835,0.144224,0.243420,0.044667,0.063085
Very Good,0.006952,0.022182,0.268168,0.173812,0.146913,0.214451,0.065304,0.102218

In [8]:
#columns 기준 
pd.crosstab(dia["cut"], dia["clarity"], normalize= 1)

clarity,I1,IF,SI1,SI2,VS1,VS2,VVS1,VVS2
cut,,,,,,,,
Fair,0.283401,0.005028,0.031228,0.050685,0.020805,0.021292,0.004651,0.013620
Good,0.129555,0.039665,0.119403,0.117577,0.079305,0.079785,0.050889,0.056455
Ideal,0.197031,0.677095,0.327746,0.282576,0.439236,0.413689,0.560055,0.514410
Premium,0.276653,0.128492,0.273632,0.320753,0.243422,0.273862,0.168536,0.171733
Very Good,0.113360,0.149721,0.247991,0.228410,0.217232,0.211372,0.215869,0.243782

In [9]:
# 가격평균
pd.crosstab(dia["cut"], dia["clarity"], values = dia["price"],
            aggfunc = pd.Series.mean)

clarity,I1,IF,SI1,SI2,VS1,VS2,VVS1,VVS2
cut,,,,,,,,
Fair,3703.533333,1912.333333,4208.279412,5173.916309,4165.141176,4174.724138,3871.352941,3349.768116
Good,3596.635417,4098.323944,3689.533333,4580.260870,3801.445988,4262.236196,2254.774194,3079.108392
Ideal,4335.726027,2272.913366,3752.118169,4755.952656,3489.744497,3284.550385,2468.129458,3250.290100
Premium,3947.331707,3856.143478,4455.269371,5545.936928,4485.462041,4550.331248,2831.206169,3795.122989
Very Good,4078.226190,4396.216418,3932.391049,4988.688095,3805.353239,4215.759552,2459.441065,3037.765182

In [10]:
dia.groupby(["cut","clarity"])["price"].mean().reset_index()

          cut clarity        price
0        Fair      I1  3703.533333
1        Fair      IF  1912.333333
2        Fair     SI1  4208.279412
3        Fair     SI2  5173.916309
4        Fair     VS1  4165.141176
5        Fair     VS2  4174.724138
6        Fair    VVS1  3871.352941
7        Fair    VVS2  3349.768116
8        Good      I1  3596.635417
9        Good      IF  4098.323944
10       Good     SI1  3689.533333
11       Good     SI2  4580.260870
12       Good     VS1  3801.445988
13       Good     VS2  4262.236196
14       Good    VVS1  2254.774194
15       Good    VVS2  3079.108392
16      Ideal      I1  4335.726027
17      Ideal      IF  2272.913366
18      Ideal     SI1  3752.118169
19      Ideal     SI2  4755.952656
20      Ideal     VS1  3489.744497
21      Ideal     VS2  3284.550385
22      Ideal    VVS1  2468.129458
23      Ideal    VVS2  3250.290100
24    Premium      I1  3947.331707
25    Premium      IF  3856.143478
26    Premium     SI1  4455.269371
27    Premium     SI2  5545.936928
28    Premium     VS1  4485.462041
29    Premium     VS2  4550.331248
30    Premium    VVS1  2831.206169
31    Premium    VVS2  3795.122989
32  Very Good      I1  4078.226190
33  Very Good      IF  4396.216418
34  Very Good     SI1  3932.391049
35  Very Good     SI2  4988.688095
36  Very Good     VS1  3805.353239
37  Very Good     VS2  4215.759552
38  Very Good    VVS1  2459.441065
39  Very Good    VVS2  3037.765182

In [11]:
dia_agg = dia.groupby(["cut","clarity"])["price"].mean().reset_index()
dia_agg.head()

    cut clarity        price
0  Fair      I1  3703.533333
1  Fair      IF  1912.333333
2  Fair     SI1  4208.279412
3  Fair     SI2  5173.916309
4  Fair     VS1  4165.141176

In [13]:
dia_agg.sort_values("price").head()

          cut clarity        price
1        Fair      IF  1912.333333
14       Good    VVS1  2254.774194
17      Ideal      IF  2272.913366
38  Very Good    VVS1  2459.441065
22      Ideal    VVS1  2468.129458

In [14]:
dia_agg.sort_values("price", ascending = False).head()

          cut clarity        price
27    Premium     SI2  5545.936928
3        Fair     SI2  5173.916309
35  Very Good     SI2  4988.688095
19      Ideal     SI2  4755.952656
11       Good     SI2  4580.260870

In [17]:
dia_agg.sort_values(["cut","clarity"], ascending = [True,False]).head()

    cut clarity        price
7  Fair    VVS2  3349.768116
6  Fair    VVS1  3871.352941
5  Fair     VS2  4174.724138
4  Fair     VS1  4165.141176
3  Fair     SI2  5173.916309

In [20]:
elec = pd.read_csv("실기 Python 실습파일 (2)/elec_load_2017_7d.csv")
elec.head(2)

,YEAR,MONTH,DAY,X1HR,X2HR,X3HR,X4HR,X5HR,X6HR,X7HR,...,X15HR,X16HR,X17HR,X18HR,X19HR,X20HR,X21HR,X22HR,X23HR,X24HR
0,2017,1,1,60178,57862,56165,55135,54450,54401,54147,...,49213,49357,50362,53115,55205,55437,55348,55790,58195,59330
1,2017,1,2,57067,55148,53983,53571,54027,55388,57753,...,72228,71945,72641,73387,72294,69989,67893,66504,67435,69275

In [21]:
elec_melt = elec.melt(id_vars = ["YEAR", "MONTH","DAY"])
elec_melt.head(2)

   YEAR  MONTH  DAY variable  value
0  2017      1    1     X1HR  60178
1  2017      1    2     X1HR  57067

In [22]:
print(len(elec))
print(len(elec_melt))

7
168

In [23]:
elec_pivot = elec_melt.pivot(index = ["YEAR", "MONTH","DAY"], 
                columns = 'variable',
                values = "value" ).reset_index()
elec_pivot

variable,YEAR,MONTH,DAY,X10HR,X11HR,X12HR,X13HR,X14HR,X15HR,X16HR,...,X23HR,X24HR,X2HR,X3HR,X4HR,X5HR,X6HR,X7HR,X8HR,X9HR
0,2017,1,1,49572,50034,50026,49515,49365,49213,49357,...,58195,59330,57862,56165,55135,54450,54401,54147,52467,50469
1,2017,1,2,70869,72867,73115,69165,71429,72228,71945,...,67435,69275,55148,53983,53571,54027,55388,57753,60781,66494
2,2017,1,3,75999,76522,76019,72203,74725,75576,75168,...,69593,71346,64233,63194,62461,62649,63396,65098,67745,72982
3,2017,1,4,76175,76375,75862,72288,74360,74977,74275,...,68948,70834,66143,65051,64245,64152,64678,66494,68851,73835
4,2017,1,5,66806,68030,67878,64439,64986,64767,63613,...,64350,66687,65801,64439,63437,63135,63250,63658,63441,65640
5,2017,1,6,55679,56548,56435,55563,55759,55408,55256,...,62288,63214,62010,60783,59779,59398,59296,58984,57533,56159
6,2017,1,7,75383,74984,74066,70335,72507,73064,72466,...,67697,69219,58974,57845,57387,57749,58794,60869,64665,71544

1. workingday가 아니면서 holiday가 아닌 날의 비율은?

In [27]:
bike = pd.read_csv("실기 Python 실습파일 (2)/bike.csv")
bike.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [28]:
pd.crosstab(bike["workingday"], bike["holiday"])

holiday        0    1
workingday
0           3163  311
1           7412    0

In [31]:
pd.crosstab(bike["workingday"], bike["holiday"], normalize = True)

holiday            0         1
workingday
0           0.290557  0.028569
1           0.680875  0.000000

2.가장 많은 데이터가 있는 세공 수준과 색상 조합을 순서대로 고르면?

In [32]:
dia = pd.read_csv("실기 Python 실습파일 (2)/diamonds.csv")
dia.head(2)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31

In [34]:
cross = pd.crosstab(dia["cut"], dia["color"])
cross

color         D     E     F     G     H     I    J
cut
Fair        163   224   312   314   303   175  119
Good        662   933   909   871   702   522  307
Ideal      2834  3903  3826  4884  3115  2093  896
Premium    1603  2337  2331  2924  2360  1428  808
Very Good  1513  2400  2164  2299  1824  1204  678

In [38]:
cross.reset_index().head(5)

color        cut     D     E     F     G     H     I    J
0           Fair   163   224   312   314   303   175  119
1           Good   662   933   909   871   702   522  307
2          Ideal  2834  3903  3826  4884  3115  2093  896
3        Premium  1603  2337  2331  2924  2360  1428  808
4      Very Good  1513  2400  2164  2299  1824  1204  678

In [36]:
cross_melt = cross.reset_index().melt(id_vars = 'cut')
cross_melt.head()

         cut color  value
0       Fair     D    163
1       Good     D    662
2      Ideal     D   2834
3    Premium     D   1603
4  Very Good     D   1513

In [37]:
cross_melt.sort_values("value",ascending = False).head(2)

      cut color  value
17  Ideal     G   4884
7   Ideal     E   3903

3.세공수준별 색상별 가격과 케럿의 평균을 구하고 1캐럿당 가격이 
가장 높은 세공수준과 색상 조합을 순서대로 고르면?

In [39]:
dia = pd.read_csv("실기 Python 실습파일 (2)/diamonds.csv")
dia.head(2)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31

In [44]:
dia_agg = dia.groupby(["cut","color"])[["price","carat"]].mean().reset_index()
dia_agg.head(2)

    cut color       price     carat
0  Fair     D  4291.06135  0.920123
1  Fair     E  3682.31250  0.856607

In [45]:
dia_agg["ratio"] = dia_agg["price"] / dia_agg["carat"]
dia_agg = dia_agg.sort_values("ratio", ascending= False)
dia_agg.head()

        cut color        price     carat        ratio
24  Premium     G  4500.742134  0.841488  5348.553755
17    Ideal     G  3720.706388  0.700715  5309.874382
23  Premium     F  4324.890176  0.827036  5229.388117
26  Premium     I  5946.180672  1.144937  5193.456761
16    Ideal     F  3374.939362  0.655829  5146.069664