In [2]:
import pandas as pd

In [49]:
df = pd.read_csv("실기 Python 실습파일 (2)/iris_missing.csv")

In [50]:
df.head(7)

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6           NaN          NaN           NaN          NaN  setosa

In [5]:
df_na=df.head(7)
df_na

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6           NaN          NaN           NaN          NaN  setosa

# 결측치 확인

In [7]:
df_na["Sepal_Length"].isna()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
Name: Sepal_Length, dtype: bool

In [8]:
df_na["Sepal_Length"].notna()

0     True
1     True
2     True
3     True
4     True
5     True
6    False
Name: Sepal_Length, dtype: bool

In [9]:
True + True + False

2

In [10]:
#해당 컬럼 결측치 수 
df_na["Sepal_Length"].isna().sum()

1

In [11]:
df_na.isna()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width  Species
0         False         True          True        False    False
1         False        False         False        False    False
2         False        False         False        False     True
3         False        False         False        False    False
4         False        False         False        False     True
5         False        False         False        False    False
6          True         True          True         True    False

In [12]:
#컬럼별 결측치 개수
df_na.isna().sum()

Sepal_Length    1
Sepal_Width     2
Petal_Length    2
Petal_Width     1
Species         2
dtype: int64

In [13]:
#로우별 결측치 개수 
df_na.isna().sum(axis=1)

0    2
1    0
2    1
3    0
4    1
5    0
6    4
dtype: int64

# 결측치 채우기

In [14]:
#결측치 채우기
df_na.fillna(value = {"Sepal_Length":999})

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6         999.0          NaN           NaN          NaN  setosa

In [16]:
df_na.fillna(value = {"Sepal_Length":999,
                      "Sepal_Width":999})

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1        999.0           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6         999.0        999.0           NaN          NaN  setosa

In [17]:
df_na.fillna(value=999)

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1        999.0         999.0          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     999
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     999
5           5.4          3.9           1.7          0.4  setosa
6         999.0        999.0         999.0        999.0  setosa

In [18]:
df_na["Sepal_Width"].mean()

3.3600000000000003

In [21]:
# 해당 컬럼 평균값으로 결측치 채우기
df_na.fillna(value = {"Sepal_Width": df_na["Sepal_Width"].mean()})

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1         3.36           NaN          0.2  setosa
1           4.9         3.00           1.4          0.2  setosa
2           4.7         3.20           1.3          0.2     NaN
3           4.6         3.10           1.5          0.2  setosa
4           5.0         3.60           1.4          0.2     NaN
5           5.4         3.90           1.7          0.4  setosa
6           NaN         3.36           NaN          NaN  setosa

In [22]:
df_na #덮어써야 처리가 된다.

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6           NaN          NaN           NaN          NaN  setosa

In [23]:
df_na=df_na.fillna(value = {"Sepal_Width": df_na["Sepal_Width"].mean()})
df_na

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1         3.36           NaN          0.2  setosa
1           4.9         3.00           1.4          0.2  setosa
2           4.7         3.20           1.3          0.2     NaN
3           4.6         3.10           1.5          0.2  setosa
4           5.0         3.60           1.4          0.2     NaN
5           5.4         3.90           1.7          0.4  setosa
6           NaN         3.36           NaN          NaN  setosa

# 결측치 빼기

In [24]:
df_na2 = df.head(7)
df_na2

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6           NaN          NaN           NaN          NaN  setosa

In [25]:
df_na2.dropna()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
1           4.9          3.0           1.4          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa

In [26]:
#마지막 컬럼을 제외하고 출력
df_na2.iloc[:,:-1]

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
0           5.1          NaN           NaN          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2
5           5.4          3.9           1.7          0.4
6           NaN          NaN           NaN          NaN

In [27]:
#전부 결측치일 경우 삭제
df_na2.iloc[:,:-1].dropna(how='all')

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
0           5.1          NaN           NaN          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2
5           5.4          3.9           1.7          0.4

In [28]:
print(df["Sepal_Length"].max())
print(df["Sepal_Length"].min())
print(df["Sepal_Length"].mean())

7.9
4.3
5.853846153846154

In [30]:
df["Sepal_Length"].median()

5.8

In [29]:
df["Sepal_Length"].quantile()

5.8

In [31]:
df["Sepal_Length"].quantile(q=0.25) #제 1 사분위수
df["Sepal_Length"].quantile(q=0.50) #제 2 사분위수
df["Sepal_Length"].quantile(q=0.75) #제 3 사분위수

6.4

# 문제

In [ ]:
01. 각 수치형 변수의 결측치 개수 총합은?

In [32]:
df.isna().sum()

Sepal_Length     7
Sepal_Width     13
Petal_Length    14
Petal_Width      6
Species          2
dtype: int64

In [33]:
df.iloc[:,:-1].isna().sum()

Sepal_Length     7
Sepal_Width     13
Petal_Length    14
Petal_Width      6
dtype: int64

In [34]:
df.iloc[:,:-1].isna().sum().sum()

40

02. Sepal_Width 변수의 결측치를 평균으로 대치한 값의 분산은?

In [44]:
df2 = df.fillna(value = {"Sepal_Width": df["Sepal_Width"].mean()})
df2["Sepal_Width"].var()

0.17561945818840946

03. 평균을 기준으로 1.5 표준편차를 넘어서는 값을 이상치라고 간주할 때 
Sepal_Length 변수를 기준으로 이상치인 row 개수는 몇 개인가?

In [3]:
df3 = pd.read_csv("실기 Python 실습파일 (2)/iris.csv")

In [4]:
df3

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
sl_mean = df3["Sepal.Length"].mean()
sl_std = df3["Sepal.Length"].std()
print(sl_mean)
print(sl_std)

5.843333333333335
0.8280661279778629

In [7]:
cond_1 = df3["Sepal.Length"] < (sl_mean - 1.5*sl_std)
cond_2 = df3["Sepal.Length"] > (sl_mean + 1.5*sl_std)
df_out = df3.loc[(cond_1)|(cond_2),]
len(df_out)

21