In [1]:
import pandas as pd
from scipy.stats import ttest_1samp
from scipy.stats import ttest_rel
from scipy.stats import ttest_ind

In [3]:
df = pd.read_csv("실기 Python 실습파일 (2)/iris.csv")
df.head(2)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

# 단일 표본 t검정

: 모평균과 표본 평균의 차이를 검정

In [4]:
ttest_1samp(df["Sepal.Length"], popmean = 4) # popmean은 모집단 평균

Ttest_1sampResult(statistic=27.263680640799215, pvalue=8.764592435410748e-60)

In [5]:
result = ttest_1samp(df["Sepal.Length"], popmean = 4)
result

Ttest_1sampResult(statistic=27.263680640799215, pvalue=8.764592435410748e-60)

In [6]:
result[0]

27.263680640799215

In [7]:
round(result[0],3)

27.264

In [8]:
stat, p = ttest_1samp(df["Sepal.Length"], popmean = 4)
print(stat)
print(p)

27.263680640799215
8.764592435410748e-60

In [9]:
stat, p = ttest_1samp(df["Sepal.Length"], popmean = 4)
print(round(stat, 2))
print(round(p, 2))

27.26
0.0

In [10]:
df["Sepal.Length"].mean()

5.843333333333335

In [16]:
#귀무가설 기각
stat, p = ttest_1samp(df["Sepal.Length"], popmean = 4)
print(round(stat, 2))
print(round(p, 2))

27.26
0.0

In [15]:
#귀무가설 기각 못함
stat, p = ttest_1samp(df["Sepal.Length"], popmean = 5.8)
print(round(stat, 2))
print(round(p, 2))

0.64
0.52

모집단 평균이 표본평균과 같아질수록 검정통계량 t가 작아지고
p-value가 높아진다.

# 대응 표본 t검정

In [18]:
stat, p = ttest_rel(df["Sepal.Length"], df["Sepal.Width"])
print(round(stat, 3))
print(round(p, 3))

34.815
0.0

# 독립 2표본 t검정

In [19]:
df["Species"].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [20]:
stat, p = ttest_ind(df.loc[df["Species"]  == 'setosa',"Petal.Length"],
                    df.loc[df["Species"]  == 'versicolor',"Petal.Length"])
print(round(stat, 3))
print(round(p, 3))

-39.493
0.0

# 문제

Q1 자료가 수집된 지역의 평균온도는 20도라고 한다. 수집된 데이터를 
사용하여 양측 검정을 실시하였을 때 p-value는 얼마인가?

In [21]:
df = pd.read_csv("실기 Python 실습파일 (2)/bike.csv")
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [22]:
stat, p = ttest_1samp(df["temp"], popmean = 20)
print(round(stat, 3))
print(round(p, 3))

3.091
0.002

Q2. 2011년 1월의 데이터를 대상으로 동 시간대의 casual과 
registered의 평균 차이 검정 시 검정통계량은?

In [40]:
df = pd.read_csv("실기 Python 실습파일 (2)/bike.csv")
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [41]:
df["datetime"] = pd.to_datetime(df["datetime"])
df["year"] = df["datetime"].dt.year
df["month"] = df["datetime"].dt.month
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1

In [42]:
df_sub = df.loc[(df["year"] == 2011) & (df["month"] == 1)]
len(df_sub)

431

In [44]:
stat, p = ttest_rel(df_sub["casual"], df_sub["registered"])
print(round(abs(stat), 3))
print(round(p, 3))

21.41
0.0

Q3. 주중과 주말의 registered 평균 검정 시 검정 통계량은?

In [48]:
df = pd.read_csv("실기 Python 실습파일 (2)/bike.csv")
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [54]:
df["datetime"] = pd.to_datetime(df["datetime"])
df["wday"] = df["datetime"].dt.weekday
df["wend"] = (df["wday"]>=5)+0 #5,6이 주말, 주중이면0, 주말이면 1
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,wday,wend
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,5,1
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,5,1

In [55]:
stat, p = ttest_ind(df.loc[df["wend"]  == 0,'registered'],
                    df.loc[df["wend"]  == 1,'registered'])
print(round(abs(stat), 3))
print(round(p, 3))

12.073
0.0