In [1]:
import pandas as pd 
from sklearn.naive_bayes import GaussianNB

In [2]:
df = pd.read_csv("실기 Python 실습파일 (2)/iris.csv")
df.head(2)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [3]:
df["is_setosa"] = (df["Species"] == "setosa") +0
df.head(2)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species  is_setosa
0           5.1          3.5           1.4          0.2  setosa          1
1           4.9          3.0           1.4          0.2  setosa          1

In [5]:
df["is_setosa"].value_counts()

0    100
1     50
Name: is_setosa, dtype: int64

In [6]:
df["is_setosa"].value_counts(normalize=True)

0    0.666667
1    0.333333
Name: is_setosa, dtype: float64

In [8]:
model = GaussianNB().fit(X = df.iloc[:,:4],
                         y = df["is_setosa"])
model

GaussianNB()

In [9]:
model.class_prior_

array([0.66666667, 0.33333333])

In [10]:
model.theta_

array([[6.262, 2.872, 4.906, 1.676],
       [5.006, 3.428, 1.462, 0.246]])

In [11]:
pred = model.predict_proba(df.iloc[:,:4])
pred

array([[6.71160012e-010, 9.99999999e-001],
       [4.00302403e-009, 9.99999996e-001],
       [1.02351870e-009, 9.99999999e-001],
       [2.76121831e-009, 9.99999997e-001],
       [2.87820863e-010, 1.00000000e+000],
       [3.55110797e-008, 9.99999964e-001],
       [9.66021894e-010, 9.99999999e-001],
       [1.30959533e-009, 9.99999999e-001],
       [4.08140312e-009, 9.99999996e-001],
       [4.28674522e-009, 9.99999996e-001],
       [1.33377359e-009, 9.99999999e-001],
       [1.84532267e-009, 9.99999998e-001],
       [3.38128619e-009, 9.99999997e-001],
       [5.20232440e-009, 9.99999995e-001],
       [1.87082925e-009, 9.99999998e-001],
       [1.24819214e-009, 9.99999999e-001],
       [2.81930547e-009, 9.99999997e-001],
       [1.54701681e-009, 9.99999998e-001],
       [7.33966195e-008, 9.99999927e-001],
       [4.73129136e-010, 1.00000000e+000],
       [4.45844705e-008, 9.99999955e-001],
       [4.58044453e-009, 9.99999995e-001],
       [5.68754049e-010, 9.99999999e-001],
       [3.23988692e-006, 9.99996760e-001],
       [1.39641059e-007, 9.99999860e-001],
       [1.83453526e-008, 9.99999982e-001],
       [3.65165447e-008, 9.99999963e-001],
       [1.56322356e-009, 9.99999998e-001],
       [1.62717265e-009, 9.99999998e-001],
       [4.21218256e-009, 9.99999996e-001],
       [7.58667096e-009, 9.99999992e-001],
       [8.28155076e-008, 9.99999917e-001],
       [4.87996004e-011, 1.00000000e+000],
       [6.74800449e-011, 1.00000000e+000],
       [4.16954875e-009, 9.99999996e-001],
       [2.19954663e-009, 9.99999998e-001],
       [3.68284192e-009, 9.99999996e-001],
       [2.29157404e-010, 1.00000000e+000],
       [2.33444890e-009, 9.99999998e-001],
       [1.79409824e-009, 9.99999998e-001],
       [9.73835050e-010, 9.99999999e-001],
       [5.98958216e-008, 9.99999940e-001],
       [9.66496167e-010, 9.99999999e-001],
       [8.69251361e-006, 9.99991307e-001],
       [4.33115769e-007, 9.99999567e-001],
       [7.58075174e-009, 9.99999992e-001],
       [4.54587834e-010, 1.00000000e+000],
       [1.09752810e-009, 9.99999999e-001],
       [8.15317332e-010, 9.99999999e-001],
       [1.33589188e-009, 9.99999999e-001],
       [1.00000000e+000, 1.06857205e-109],
       [1.00000000e+000, 6.21929944e-102],
       [1.00000000e+000, 5.95805983e-124],
       [1.00000000e+000, 4.96081507e-070],
       [1.00000000e+000, 1.01443079e-107],
       [1.00000000e+000, 1.44947298e-090],
       [1.00000000e+000, 9.41447938e-116],
       [1.00000000e+000, 1.40878104e-034],
       [1.00000000e+000, 9.94122923e-099],
       [1.00000000e+000, 1.33364660e-069],
       [1.00000000e+000, 4.99612563e-041],
       [1.00000000e+000, 2.21317195e-087],
       [1.00000000e+000, 1.58989684e-060],
       [1.00000000e+000, 1.46204910e-105],
       [1.00000000e+000, 2.20068846e-055],
       [1.00000000e+000, 2.04691481e-094],
       [1.00000000e+000, 2.85937116e-099],
       [1.00000000e+000, 5.31689772e-063],
       [1.00000000e+000, 1.39773650e-102],
       [1.00000000e+000, 1.78932098e-058],
       [1.00000000e+000, 9.14854950e-131],
       [1.00000000e+000, 2.72683804e-071],
       [1.00000000e+000, 9.83679110e-122],
       [1.00000000e+000, 3.88698406e-097],
       [1.00000000e+000, 1.88514877e-084],
       [1.00000000e+000, 4.69482828e-094],
       [1.00000000e+000, 4.78843075e-114],
       [1.00000000e+000, 6.24357181e-139],
       [1.00000000e+000, 9.13368816e-101],
       [1.00000000e+000, 8.51014877e-042],
       [1.00000000e+000, 9.12551670e-055],
       [1.00000000e+000, 5.71434104e-048],
       [1.00000000e+000, 1.60533683e-062],
       [1.00000000e+000, 8.44274392e-136],
       [1.00000000e+000, 9.13750747e-099],
       [1.00000000e+000, 5.08376170e-105],
       [1.00000000e+000, 5.89826059e-113],
       [1.00000000e+000, 3.80996717e-089],
       [1.00000000e+000, 4.32983374e-073],
       [1.00000000e+000, 9.02901478e-070],
       [1.00000000e+000, 8.59054852e-082],
       [1.00000000e+000, 1.10712111e-100],
       [1.00000000e+000, 2.16865749e-066],
       [1.00000000e+000, 8.16887057e-035],
       [1.00000000e+000, 1.34722547e-077],
       [1.00000000e+000, 2.86432287e-073],
       [1.00000000e+000, 1.47554563e-077],
       [1.00000000e+000, 1.55173167e-083],
       [1.00000000e+000, 2.85291648e-030],
       [1.00000000e+000, 9.94943945e-074],
       [1.00000000e+000, 1.28688164e-253],
       [1.00000000e+000, 4.86015211e-153],
       [1.00000000e+000, 5.52499016e-220],
       [1.00000000e+000, 9.66374765e-177],
       [1.00000000e+000, 1.45895796e-217],
       [1.00000000e+000, 2.90145852e-272],
       [1.00000000e+000, 1.33814096e-109],
       [1.00000000e+000, 2.70101499e-228],
       [1.00000000e+000, 9.35073850e-192],
       [1.00000000e+000, 8.88153917e-265],
       [1.00000000e+000, 8.14870772e-162],
       [1.00000000e+000, 2.00017978e-166],
       [1.00000000e+000, 2.09464788e-193],
       [1.00000000e+000, 1.73044150e-154],
       [1.00000000e+000, 2.73434375e-190],
       [1.00000000e+000, 1.03194235e-194],
       [1.00000000e+000, 1.45235575e-171],
       [1.00000000e+000, 2.55683518e-286],
       [1.00000000e+000, 5.06032759e-312],
       [1.00000000e+000, 5.63778576e-126],
       [1.00000000e+000, 4.95216769e-221],
       [1.00000000e+000, 1.28040017e-148],
       [1.00000000e+000, 8.06738555e-274],
       [1.00000000e+000, 2.89953965e-138],
       [1.00000000e+000, 2.57442668e-204],
       [1.00000000e+000, 1.31802751e-206],
       [1.00000000e+000, 1.12177696e-132],
       [1.00000000e+000, 6.84029053e-137],
       [1.00000000e+000, 1.40258589e-197],
       [1.00000000e+000, 1.75064031e-182],
       [1.00000000e+000, 8.59036389e-222],
       [1.00000000e+000, 2.64666557e-251],
       [1.00000000e+000, 4.62185734e-205],
       [1.00000000e+000, 1.15739602e-131],
       [1.00000000e+000, 1.12676589e-154],
       [1.00000000e+000, 5.84198140e-253],
       [1.00000000e+000, 1.57035272e-219],
       [1.00000000e+000, 7.00542706e-171],
       [1.00000000e+000, 1.62375274e-131],
       [1.00000000e+000, 5.42202653e-188],
       [1.00000000e+000, 3.51252480e-222],
       [1.00000000e+000, 1.06417461e-186],
       [1.00000000e+000, 4.86015211e-153],
       [1.00000000e+000, 4.57498816e-233],
       [1.00000000e+000, 1.71389160e-236],
       [1.00000000e+000, 4.06234779e-191],
       [1.00000000e+000, 4.86093394e-150],
       [1.00000000e+000, 1.33253783e-167],
       [1.00000000e+000, 4.60036792e-199],
       [1.00000000e+000, 1.62597097e-146]])

In [13]:
pred = model.predict_proba(df.iloc[:,:4])
pred = pred[:,1]
pred[:4]

array([1., 1., 1., 1.])

In [14]:
from sklearn.metrics import accuracy_score

In [15]:
pred_class = (pred>0.5)+0

In [16]:
accuracy_score(y_true = df["is_setosa"],
               y_pred= pred_class)

1.0

# 문제

Q1.

In [17]:
df = pd.read_csv("실기 Python 실습파일 (2)/diabetes.csv")
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [18]:
df_sub = df.loc[df["BMI"]>0,]

In [19]:
df_sub["Outcome"].value_counts(normalize= True)

0    0.648613
1    0.351387
Name: Outcome, dtype: float64

Q2.

In [20]:
df = pd.read_csv("실기 Python 실습파일 (2)/diabetes.csv")
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [22]:
model = GaussianNB().fit(X = df.loc[:,["BloodPressure", "Glucose","Age"]],
                         y = df["Outcome"])
pred = model.predict_proba(df.loc[:,["BloodPressure", "Glucose","Age"]])

In [23]:
pred_class = (pred[:,1]>0.5)+0
pred_class[:4]

array([1, 0, 1, 0])

In [24]:
accuracy_score(y_pred= pred_class, y_true = df["Outcome"])

0.7552083333333334

Q3.

In [25]:
df = pd.read_csv("실기 Python 실습파일 (2)/diabetes.csv")
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [26]:
df = df.loc[df["BMI"]>0,]
df["Age_g"] = (df["Age"]//10)*10
df["is_preg"]= (df["Pregnancies"]>0)+0
df.head(2)

C:\Users\82103\AppData\Local\Temp/ipykernel_25860/2243297906.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Age_g"] = (df["Age"]//10)*10
C:\Users\82103\AppData\Local\Temp/ipykernel_25860/2243297906.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["is_preg"]= (df["Pregnancies"]>0)+0

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Age_g,is_preg
0,6,148,72,35,0,33.6,0.627,50,1,50,1
1,1,85,66,29,0,26.6,0.351,31,0,30,1

In [27]:
from sklearn.model_selection import train_test_split
df_train, df_test = train_test_split(df, train_size= 0.8, random_state=123)
df_train.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Age_g,is_preg
247,0,165,90,33,680,52.3,0.427,23,0,20,0
659,3,80,82,31,70,34.2,1.292,27,1,20,1

In [30]:
model = GaussianNB().fit(X = df_train.loc[:,["is_preg", "BMI","Age_g", "Glucose"]],
                         y = df_train["Outcome"])
pred = model.predict_proba(df_test.loc[:,["is_preg", "BMI","Age_g", "Glucose"]])
pred[:4,]

array([[0.09436402, 0.90563598],
       [0.74783283, 0.25216717],
       [0.11042961, 0.88957039],
       [0.57991266, 0.42008734]])

In [32]:
accuracy_score(y_pred= (pred[:,1]>0.5) +0, 
               y_true = df_test["Outcome"])

0.8026315789473685

In [33]:
from sklearn.linear_model import LogisticRegression

In [34]:
model_lr = LogisticRegression()
model_lr.fit(X = df_train.loc[:,["is_preg", "BMI","Age_g", "Glucose"]],
            y = df_train["Outcome"])

LogisticRegression()

In [41]:
pred_lr = model_lr.predict_proba(df_test.loc[:,["is_preg", "BMI","Age_g", "Glucose"]])
pred_lr = pred_lr[:,1]
pred_lr_class = (pred_lr > 0.5) +0

In [43]:
accuracy_score(y_true = df_test["Outcome"], 
               y_pred = pred_lr_class)

0.8289473684210527