In [29]:
import pandas as pd 
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [30]:
df = pd.read_csv("실기 Python 실습파일 (2)/iris.csv")
df.head(2)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [25]:
df_1 = df.head()
df_2 = df.tail(1)

In [26]:
df_1

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [12]:
df_2

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
149           5.9          3.0           5.1          1.8  virginica

In [8]:
nor_minmax = MinMaxScaler().fit(df_1.iloc[:,:-1])
nor_minmax

MinMaxScaler()

In [9]:
nor_minmax.transform(df_1.iloc[:,:-1])

array([[1.        , 0.83333333, 0.5       , 0.        ],
       [0.6       , 0.        , 0.5       , 0.        ],
       [0.2       , 0.33333333, 0.        , 0.        ],
       [0.        , 0.16666667, 1.        , 0.        ],
       [0.8       , 1.        , 0.5       , 0.        ]])

In [14]:
nor_minmax.transform(df_2.iloc[:,:-1])

array([[ 2.6,  0. , 19. ,  1.6]])

In [15]:
nor_minmax = MinMaxScaler().fit(df_2.iloc[:,:-1])
nor_minmax.transform(df_2.iloc[:,:-1])

array([[0., 0., 0., 0.]])

In [16]:
nor_minmax = MinMaxScaler().fit(df_1.iloc[:,:-1])
nor_minmax.transform(df_1.iloc[:,:-1])

array([[1.        , 0.83333333, 0.5       , 0.        ],
       [0.6       , 0.        , 0.5       , 0.        ],
       [0.2       , 0.33333333, 0.        , 0.        ],
       [0.        , 0.16666667, 1.        , 0.        ],
       [0.8       , 1.        , 0.5       , 0.        ]])

In [18]:
df_minmax = pd.DataFrame(nor_minmax.transform(df_1.iloc[:,:-1]),
                         columns = df_1.columns[:4])
df_minmax

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0           1.0     0.833333           0.5          0.0
1           0.6     0.000000           0.5          0.0
2           0.2     0.333333           0.0          0.0
3           0.0     0.166667           1.0          0.0
4           0.8     1.000000           0.5          0.0

# KMeans

In [31]:
model = KMeans(n_clusters = 3, random_state =123).fit(df.iloc[:,:-1])
model

KMeans(n_clusters=3, random_state=123)

In [32]:
model.labels_

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 0, 0, 0, 0, 2, 0, 0, 0,
       0, 0, 0, 2, 2, 0, 0, 0, 0, 2, 0, 2, 0, 2, 0, 0, 2, 2, 0, 0, 0, 0,
       0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 2])

In [33]:
model.cluster_centers_

array([[6.85      , 3.07368421, 5.74210526, 2.07105263],
       [5.006     , 3.428     , 1.462     , 0.246     ],
       [5.9016129 , 2.7483871 , 4.39354839, 1.43387097]])

In [34]:
df["cluster"] = model.labels_
df.groupby("cluster").mean()

         Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
cluster
0            6.850000     3.073684      5.742105     2.071053
1            5.006000     3.428000      1.462000     0.246000
2            5.901613     2.748387      4.393548     1.433871

# 문제

Q1.

In [47]:
df = pd.read_csv("실기 Python 실습파일 (2)/diabetes.csv")
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [48]:
df_sub = df.loc[df["BMI"]!=0,]
df_sub.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [49]:
model = KMeans(n_clusters = 4, random_state =123).fit(df_sub)
df_sub["cluster"] = model.labels_
df_sub.head(3)

C:\Users\82103\AppData\Local\Temp/ipykernel_33704/3738377490.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub["cluster"] = model.labels_

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,cluster
0,6,148,72,35,0,33.6,0.627,50,1,0
1,1,85,66,29,0,26.6,0.351,31,0,0
2,8,183,64,0,0,23.3,0.672,32,1,0

In [50]:
df_sub["cluster"].value_counts()

0    407
2    212
3    114
1     24
Name: cluster, dtype: int64

In [54]:
df_sub.groupby("cluster")["Insulin"].mean()

cluster
0      4.103194
1    509.166667
2    102.674528
3    224.035088
Name: Insulin, dtype: float64

Q2.

In [58]:
df = pd.read_csv("실기 Python 실습파일 (2)/diabetes.csv")
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [59]:
df_sub = df.loc[df["BMI"]!=0,]
df_sub.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [60]:
nor_minmax = MinMaxScaler().fit(df_sub)
df_sub_nor = nor_minmax.transform(df_2)
df_sub_nor = pd.DataFrame(df_sub_nor, columns = df_sub.columns)
df_sub_nor.head(2)

C:\Users\82103\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- Petal.Length
- Petal.Width
- Sepal.Length
- Sepal.Width
- Species
Feature names seen at fit time, yet now missing:
- Age
- BMI
- BloodPressure
- DiabetesPedigreeFunction
- Glucose
- ...

  warnings.warn(message, FutureWarning)

ValueError: could not convert string to float: 'virginica'

In [61]:
model = KMeans(n_clusters = 4, random_state =123).fit(df_sub)
df_sub["cluster"] = model.labels_
df_sub.head(3)

C:\Users\82103\AppData\Local\Temp/ipykernel_33704/3738377490.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub["cluster"] = model.labels_

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,cluster
0,6,148,72,35,0,33.6,0.627,50,1,0
1,1,85,66,29,0,26.6,0.351,31,0,0
2,8,183,64,0,0,23.3,0.672,32,1,0

In [62]:
df_sub["cluster"].value_counts()

0    407
2    212
3    114
1     24
Name: cluster, dtype: int64

In [63]:
df_sub.groupby("cluster")["Age"].mean()

cluster
0    34.872236
1    33.541667
2    29.867925
3    33.894737
Name: Age, dtype: float64

Q3.

In [64]:
df = pd.read_csv("실기 Python 실습파일 (2)/diabetes.csv")
df_sub = df.loc[df["BMI"]!=0,]
df_sub.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [66]:
model = KMeans(n_clusters = 4, random_state =123).fit(df_sub)
df_centers = pd.DataFrame(model.cluster_centers_, columns = df_sub.columns)
df_centers

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,4.232843,116.642157,68.566176,13.137255,4.223039,31.546814,0.420140,34.840686,0.343137
1,3.458333,163.000000,70.833333,32.833333,509.166667,35.900000,0.607375,33.541667,0.583333
2,3.298578,115.004739,70.127962,28.530806,102.909953,32.459716,0.491190,29.905213,0.251185
3,3.543860,139.754386,72.666667,31.210526,224.035088,34.987719,0.596491,33.894737,0.517544

In [70]:
df_centers = df_centers.transpose()
df_centers

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,4.232843,116.642157,68.566176,13.137255,4.223039,31.546814,0.420140,34.840686,0.343137
1,3.458333,163.000000,70.833333,32.833333,509.166667,35.900000,0.607375,33.541667,0.583333
2,3.298578,115.004739,70.127962,28.530806,102.909953,32.459716,0.491190,29.905213,0.251185
3,3.543860,139.754386,72.666667,31.210526,224.035088,34.987719,0.596491,33.894737,0.517544

In [71]:
print(sum((df_centers.iloc[:,0]- df_centers.iloc[:,1]**2)**0.5))
print(sum((df_centers.iloc[:,1]- df_centers.iloc[:,2]**2)**0.5))
print(sum((df_centers.iloc[:,0]- df_centers.iloc[:,2]**2)**0.5))

nan
nan
nan