In [1]:
import pandas as pd
from sklearn.decomposition import PCA

In [2]:
df = pd.read_csv("실기 Python 실습파일 (2)/iris.csv")
df.head(2)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [3]:
pca = PCA(n_components=3)

In [4]:
df_pca = pca.fit_transform(df.iloc[:,:4])
df_pca = pd.DataFrame(df_pca,
                      columns= ["comp_1","comp_2","comp_3"])
df_pca.head(2)

     comp_1    comp_2    comp_3
0 -2.684126  0.319397 -0.027915
1 -2.714142 -0.177001 -0.210464

In [5]:
pca.explained_variance_

array([4.22824171, 0.24267075, 0.0782095 ])

In [6]:
pca.explained_variance_ratio_

array([0.92461872, 0.05306648, 0.01710261])

In [7]:
pd.Series(pca.explained_variance_ratio_).cumsum()

0    0.924619
1    0.977685
2    0.994788
dtype: float64

In [8]:
pca.singular_values_

array([25.09996044,  6.01314738,  3.41368064])

In [10]:
df_pca.corr().round(2)

        comp_1  comp_2  comp_3
comp_1     1.0     0.0    -0.0
comp_2     0.0     1.0     0.0
comp_3    -0.0     0.0     1.0

# 문제

Q1

In [11]:
df = pd.read_csv("실기 Python 실습파일 (2)/diamonds.csv")
df.head(2)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31

In [14]:
pca_model = PCA(n_components=3)
df_pca = pca_model.fit_transform(df.loc[:,["x","y","z"]])
df_pca[:3,]

array([[-2.73463603,  0.04371529,  0.00525922],
       [-2.9125241 ,  0.03212409, -0.07103942],
       [-2.65918945,  0.13644346, -0.12968262]])

In [15]:
df_pca = pd.DataFrame(df_pca, columns= ["comp_1","comp_2","comp_3"])
df_pca.head(2)

     comp_1    comp_2    comp_3
0 -2.734636  0.043715  0.005259
1 -2.912524  0.032124 -0.071039

In [16]:
df.loc[:,["x","y","z"]].corr().round(3)

       x      y      z
x  1.000  0.975  0.971
y  0.975  1.000  0.952
z  0.971  0.952  1.000

In [17]:
df_pca.corr().round(3)

        comp_1  comp_2  comp_3
comp_1     1.0    -0.0     0.0
comp_2    -0.0     1.0    -0.0
comp_3     0.0    -0.0     1.0

Q2

In [18]:
df = pd.read_csv("실기 Python 실습파일 (2)/diamonds.csv")
df.head(2)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31

In [19]:
pca_model = PCA(n_components=5)
df_pca = pca_model.fit_transform(df.loc[:,["x","y","z","table","depth"]])
df_pca[:3,]

array([[-2.95461177e+00, -2.13217146e+00, -5.50856527e-01,
         2.72852521e-02,  7.43506486e-03],
       [ 2.99969796e+00, -3.97184947e+00, -2.56373421e-01,
        -2.09739675e-02,  2.56358010e-02],
       [ 7.52838769e+00, -5.26046934e+00, -1.77740776e+00,
         2.87590851e-04,  9.58541459e-02]])

In [20]:
pca_model.explained_variance_ratio_

array([0.54105407, 0.28068123, 0.17302496, 0.00373598, 0.00150375])

In [22]:
ser = pd.Series(pca_model.explained_variance_ratio_)
ser.cumsum() #누적합

0    0.541054
1    0.821735
2    0.994760
3    0.998496
4    1.000000
dtype: float64

Q3

In [23]:
df = pd.read_csv("실기 Python 실습파일 (2)/diamonds.csv")
df.head(2)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31

In [24]:
pca_model = PCA(n_components=1)
df_pca = pca_model.fit_transform(df.loc[:,["x","y","z"]])
df_pca[:3,]

array([[-2.73463603],
       [-2.9125241 ],
       [-2.65918945]])

In [42]:
df["comp_1"] = df_pca
df.head(2)

,carat,cut,color,clarity,depth,table,price,x,y,z,com_1,comp_1
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,-2.734636,-2.734636
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,-2.912524,-2.912524

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
df_train, df_test = train_test_split(df, train_size= 0.8, random_state=123)
df_train.head(2)

,carat,cut,color,clarity,depth,table,price,x,y,z,com_1,comp_1
13361,0.24,Very Good,F,VS2,62.9,58.0,419,3.94,4.01,2.50,-2.693607,-2.693607
18592,1.02,Very Good,F,VS1,62.4,58.0,7587,6.42,6.47,4.02,1.115685,1.115685

In [45]:
from statsmodels.formula.api import ols
from sklearn.metrics import mean_squared_error

In [46]:
model_1 = ols(formula = "price ~ carat + x", data = df_train).fit()
pred_1 = model_1.predict(df_test)
rmse_1 = mean_squared_error(y_pred = pred_1,
                   y_true = df_test["price"])**0.5
round(rmse_1,3)

1526.486

In [47]:
model_2 = ols(formula = "price ~ carat + comp_1", data = df_train).fit()
pred_2 = model_2.predict(df_test)
rmse_2 = mean_squared_error(y_pred = pred_2,
                            y_true = df_test["price"])**0.5
round(rmse_2,3)

1528.955